/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//@import "bootstrap-sprockets";
//@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);

body {
  background-color: #cfd8dc;
  font-family: 'Roboto', sans-serif;
  color: #263238;
  margin: 0;
  padding: 0;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #b0bec5;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  background-color: #eceff1;
  margin-top: 40px;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  min-height: 420px;
}

#post_link_side {
  font-size: 12px;
  float: right;
}

a {
  color: #009688;
}

.submitted {
  padding-top: 7px;
  font-size: 12px;
  color: #455A64
}

#notice_wrapper {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  background: rgba(35, 82, 124, 0.5)
}

.notice {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
  color: #fff;
}

.post_row h3 {
  padding-top: 5px;
  width: 50%;
}

.pagination {
  width: 250px;
  margin: 0 auto;
  padding: 2em;
}

.pagination, a {
  text-decoration: none;
}

#search_container {
  float: right;
  width: 250px auto;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  padding: 0.5em;
  text-align: center;
}


.search_box {
  border: 1px solid #b0bec5;
  border-radius: 2px;
  width: 225px;
}

.search_button {
  border: 1px solid #b0bec5;
  border-radius: 2px;
}

.search_button:hover {
  background-color: #cfd8dc;
  transition: .5s background-color;
}

.post_row {
  padding-bottom: 8px;
}

.vote_actions {
  float: left;
  width: 25px;
}

.show_score {
  padding-left: 3px;
  padding-bottom: 1px;
}

.nav_container {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  background-color: #eceff1;
  border-bottom: 1px solid #b0bec5;
}

.user_nav ul, li {
  list-style: none;
  display: block;
  float: left;
  padding-right: 20px;
}

.mini_nav_container {
  width: 75%;
  margin: 0 auto;
}

#user_options {
  float: right;
  padding-top: 9px;
}

#logo {
	font-size: 22px;
  padding: 1.4rem;
  float: left;
	a {
		color: #2F363E;
    text-decoration: none;
	}
}

.tabMenu.rightBar {
  width: 250px auto;
  display: block;
  text-align: center;
}

.tabMenu {
  float: right;
  margin-bottom: 11px;
}

.label {
  text-align: center;
  padding-top: 15px;
}

#sort_by_main, ul, li {
  display: table;
  text-align: center;
}

button {
  text-align: center;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 15px;
  width: 100%;
}

button:hover {
  background-color: #ffd54f;
  transition: .5s background-color;
}

#sort_by_main {
  text-align: center;
  display: block;
}

.sorts {
  text-align: center;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 15px;
  width: 100%;
}
